<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head> 
  
<body class="size-1140">

<!-- HIDDEN PRODUCTS MENU START -->
<nav id="main-nav">
	<ul>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Facial Wash</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Exflotiate Scrub</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Natural Skin Care</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Facial Toner</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Moisturizing Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Anti Wrinkle Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Sun Protection</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Hand Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Hair Removing Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Foot Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Under Arm Protection</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Slimming Cream</span></a></li>
	</ul>
	<a href="#0" class="hidden-menu-close">Close<span></span></a>
</nav>
<!-- HIDDEN PRODUCTS MENU END -->

<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
<!-- ||||| --> <div id="page-main-content"> <!-- ||||| -->
<!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->
	
<!-- HEADER START -->
<header> 
	<!-- top bar start -->
	<div id="topbar" class="background-primary">
		<div class="line">
		    <!-- social icons -->
			<div class="s-12 m-12 l-6">
				<ul>
				  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
				  <li class="hide-s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
			<!-- contact details -->
			<div class="l-6 hide-s hide-m">
				<div class="right">
					<ul class="topbar-menu">
						<li><a href="#">info@website.com</a></li>
						<li><a href="#">+971 123 456 789</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- top bar end -->
	
	<!-- navigation and logo -->
	<nav class="background-dark">
		<div class="line">
		    <!-- logo -->
			<div class="s-12 l-3">
				<div class="fullwidth">
				    <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
				</div>
			</div>
			
			<!-- navigation -->
			<div class="top-nav s-12 m-12 l-9">
				<a class="nav-text"></a>
				<ul class="right chevron">
					<li><a class="index.html">Home</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="contact-us.html">Contact Us</a></li>
					<li><a href="products.html">Products Grid</a></li>
					<li><a href="product.html">Product Page</a></li>
					<li><a href="cart.html">Cart</a></li>
					<li><a href="blog.html">Blog</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
</header>
<!-- HEADER END -->

<!-- PAGE CONTENT START -->
<div class="section">
	
	<!-- page heading and description -->
	<div class="line">
	  <div class="margin">
		<div class="fullwidth margin-bottom-60">
		  <h1 class="text-center">Lovely Blog</h1>
		  <p class="text-center">Lorem ipsum dolor sit amet, consectetur elit. Nullam molestie in massa consequat.</p>
		  <hr class="break-small break-center">
		</div>
	  </div>
	</div>

	<div class="line">
		<div class="margin">
		
		  <!-- blog post 1 -->
		  <div class="fullwidth margin-m-bottom-60">
			  <div class="s-12 m-4 l-6 hide-s">
				<!-- hide in small screens -->
				<a class="image-hover-zoom" href=""><img src="img/blog/1.jpg" alt="" class="fullwidth"></a>
			  </div>
			  <div class="s-12 m-8 l-6">
				<div class="item-left">
				  <div class="fullwidth hide-l hide-m">
				  <!-- hide in large and medium screens -->
				  <a href=""><img src="img/blog/1.jpg" alt="" class="fullwidth"></a>
				  </div>
				  <h2 class="text-primary">Lorem ipsum dolor sit amet consec elit nunc</h2>
				  <p class="margin-bottom-30">Lorem ipsum dolor sit amet consectetur adipiscing elit nunc faucibus aliquet quam vel pellentesque curabitur quis risus id tellus pharetra lobortis. Sed dignissim quam et dictum congue erat orci.</p>
				  <a href="" class="button">Read More</a>
				</div>
			  </div>
		  </div>
		  
		  <!-- blog post 2 -->
		  <div class="fullwidth margin-m-bottom-60">
			  <div class="s-12 m-8 l-6">
				<div class="item-right">
				  <div class="fullwidth hide-l hide-m">
				  <!-- hide in large and medium screens -->
				  <a href=""><img src="img/blog/2.jpg" alt="" class="fullwidth"></a>
				  </div>
				  <h2 class="text-primary">Lorem ipsum dolor sit amet consec elit nunc</h2>
				  <p class="margin-bottom-30">Lorem ipsum dolor sit amet consectetur adipiscing elit nunc faucibus aliquet quam vel pellentesque curabitur quis risus id tellus pharetra lobortis. Sed dignissim quam et dictum congue erat orci.</p>
				  <a href="" class="button">Read More</a>
				</div>
			  </div>
			  <div class="s-12 m-4 l-6 hide-s">
				<!-- hide in small screens -->
				<a class="image-hover-zoom" href=""><img src="img/blog/2.jpg" alt="" class="fullwidth"></a>
			  </div>
		  </div>
		  
		  <!-- blog post 3 -->
		  <div class="fullwidth margin-m-bottom-60 position-relative">
			  <div class="s-12 m-4 l-6 hide-s">
				<!-- hide in medium & small screens -->
				<a class="image-hover-zoom" href=""><img src="img/blog/1.jpg" alt="" class="fullwidth"></a>
			  </div>
			  <div class="s-12 m-8 l-6">
				<div class="item-left content-center-vertical-2">
				  <div class="fullwidth hide-l hide-m">
				  <!-- hide in large screens -->
				  <a href=""><img src="img/blog/1.jpg" alt="" class="fullwidth"></a>
				  </div>
				  <h2 class="text-primary">Lorem ipsum dolor sit amet consec elit nunc</h2>
				  <p class="margin-bottom-30">Lorem ipsum dolor sit amet consectetur adipiscing elit nunc faucibus aliquet quam vel pellentesque curabitur quis risus id tellus pharetra lobortis. Sed dignissim quam et dictum congue erat orci.</p>
				  <a href="" class="button">Read More</a>
				</div>
			  </div>
		  </div>
		  
		  <!-- blog post 4 -->
		  <div class="fullwidth margin-m-bottom-60 position-relative">
			  <div class="s-12 m-8 l-6">
				<div class="item-right content-center-vertical-2">
				  <div class="fullwidth hide-l hide-m">
				  <!-- hide in large screens -->
				  <a href=""><img src="img/blog/2.jpg" alt="" class="fullwidth"></a>
				  </div>
				  <h2 class="text-primary">Lorem ipsum dolor sit amet consec elit nunc</h2>
				  <p class="margin-bottom-30">Lorem ipsum dolor sit amet consectetur adipiscing elit nunc faucibus aliquet quam vel pellentesque curabitur quis risus id tellus pharetra lobortis. Sed dignissim quam et dictum congue erat orci.</p>
				  <a href="" class="button">Read More</a>
				</div>
			  </div>
			  <div class="s-12 m-4 l-6 hide-s">
				<!-- hide in medium & small screens -->
				<a class="image-hover-zoom" href=""><img src="img/blog/2.jpg" alt="" class="fullwidth"></a>
			  </div>
		  </div>
		  
		</div>
	</div>
</div>
<!-- PAGE CONTENT END -->

<!-- FOOTER START -->
<footer>
	<div class="section background-dark">
		<!-- email and phone numbers -->
		<div class="line">
			<div class="margin">
				<div class="fullwidth text-center margin-bottom-40">
					<h5>Hello@website.com</h5>
				</div>
				<div class="fullwidth phone-number margin-bottom-60">
				<div class="s-12 m-6 l-6 margin-s-bottom-60">
						<span>Call Us</span><br />
						<a href="">+971 123-456-789</a>
				</div>
				<div class="s-12 m-6 l-6">
						<span>Whatsapp</span><br />
						<a href="">+971 123-456-789</a>
				</div>
				</div>
			</div>
		</div>
		<!-- contact form -->
		<div class="line">
			<form class="footer-form">
				<div class="fullwidth">
					<div class="margin">
						<div class="s-12 m-6 l-6">
							<input type="text" name="name" placeholder="Full Name" title="Full Name" required />
						</div>
						<div class="s-12 m-6 l-6">
							<input type="text" name="email" placeholder="Email" title="Email" required />
						</div>
					</div>
					<div class="margin">
						<div class="s-12 m-6 l-6">
							<input type="text" name="mobile" placeholder="Mobile" title="Mobile Number" required />
						</div>
						<div class="s-12 m-6 l-6">
							<input type="text" name="subject" placeholder="Subject" title="Subject" />
						</div>
					</div>
					<div class="s-12">
						<textarea name="message" placeholder="Your message" rows="2" required></textarea>
					</div>
					<div class="s-12 m-12 l-3">
						<input type="submit" class="button" value="Send to Us">
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- footer bottom bar -->
	<div class="copyright">
	    <div class="line">
			<div class="margin">
				<!-- left -->
				<div class="s-12 m-12 l-8 footer-links">
					<ul class="footer-bar-links">
						<li><a href="">Contact Us</a></li>
						<li><a href="">Faqs</a></li>
						<li><a href="">Shipping</a></li>
						<li><a href="">Return Policy</a></li>
						<li><a href="">Order Tracking</a></li>
					</ul>
					<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
				<!-- right -->
				<div class="s-12 m-12 l-4 payment-methods">
					<i class="fa fa-cc-visa fa-2x"></i>
					<i class="fa fa-cc-mastercard fa-2x"></i> 
					<i class="fa fa-cc-paypal fa-2x"></i>
					<i class="fa fa-credit-card fa-2x"></i>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- FOOTER END -->

<!-- |||||||||||| page end ||||||||||||| -->
<!-- ||||||||| --> </div> <!-- ||||||||| -->
<!-- |||||||||||| page end ||||||||||||| -->

<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
   
   
   
   
</body>
</html>
