<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/myresponsee.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <!--Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="js/respond.js"></script><![endif]-->

</head>

<body class="size-1140">
<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
<!-- ||||| -->
<div id="page-main-content"> <!-- ||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <!-- HEADER START -->
    <header>

        <!-- navigation and logo -->
        <nav class="background-dark">
            <div class="line">
                <!-- logo -->
                <div class="s-12 l-3">
                    <div class="fullwidth">
                        <a href="{{ url_for('.index')}}" class="logo"><img src="img/2.png" alt=""></a>
                    </div>
                </div>

                <!-- navigation -->
                <div class="top-nav s-12 m-12 l-9">
                    <a class="nav-text"></a>
                    <ul class="right chevron">
                        <!--<li><a href="{{ url_for('.index')}}">Home</a></li>-->
                        <!--<li><a href="{{ url_for('.about')}}">About Us</a></li>-->
                        <!--<li><a href="{{ url_for('.contact')}}">Contact Us</a></li>-->
                        <!--<li><a href="{{ url_for('.products')}}">Products Grid</a></li>-->
                        <li><a href="{{ url_for('.login')}}" class="btn btn-primary btn-lg active nav-btn" id="loin_button">登录</a></li>
                        <li><a href="{{ url_for('.register')}}" class="btn btn-secondary nav-btn">注册</a></li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <!-- HEADER END -->

    <!-- SLIDESHOW START -->
    <div class="carousel-fade-transition owl-carousel carousel-main">
        <!-- slide 1 -->
        <div class="item">
            <!-- slideshow photo -->
            <div class="image-box">
                <div class="image">
                    <img src="img/slideshow/slide3.jpg" alt="">
                </div>
            </div>
            <!-- slideshow content -->
            <div class="carousel-content">
                <div class="content-center-vertical line">
                    <div class="s-12 m-8 l-7">
                        <hr1 class="margin-bottom-10 animated-carousel-element">智能家居</hr1>
                        <br>
                        <hr2 class="margin-bottom-30 animated-carousel-element slow">我的征途是星辰大海</hr2>
                        <!--<div class="animated-carousel-element">-->
                        <!--<a href="" class="slideshow-btn">Shop Now</a><a href="" class="slideshow-btn2">More Detail</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 2 -->
        <div class="item">
            <!-- slideshow photo -->
            <div class="image-box">
                <div class="image">
                    <img src="img/slideshow/slide2.jpg" alt="">
                </div>
            </div>
            <!-- slideshow content -->
            <div class="carousel-content">
                <div class="content-center-vertical line">
                    <div class="s-12 m-8 l-7">
                        <hb class="margin-bottom-10 animated-carousel-element">智能家居</hb>
                        <br>
                        <hb1 class="margin-bottom-30 animated-carousel-element slow">我的征途是星辰大海</hb1>
                        <!--<div class="animated-carousel-element">-->
                        <!--<a href="" class="slideshow-btn">Shop Now</a><a href="" class="slideshow-btn2">More Detail</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SLIDESHOW END -->


<!-- FOOTER START -->
<footer>
    <!-- footer bottom bar -->
    <div class="copyright">
        <div class="line">
            <div class="margin">
                <!-- left -->
                <div class="s-12 m-12 l-8 footer-links">
                    <!--<ul class="footer-bar-links">-->
                    <!--<li><a href="">Contact Us</a></li>-->
                    <!--<li><a href="">Faqs</a></li>-->
                    <!--<li><a href="">Shipping</a></li>-->
                    <!--<li><a href="">Return Policy</a></li>-->
                    <!--<li><a href="">Order Tracking</a></li>-->
                    <!--</ul>-->
                    <br>
                    <p>Copyright &copy; 2018.Company name All rights reserved by yezixigua</p>

                </div>
                <!-- right -->
                <!--<div class="s-12 m-12 l-4 payment-methods">-->
                <!--<i class="fa fa-cc-visa fa-2x"></i>-->
                <!--<i class="fa fa-cc-mastercard fa-2x"></i> -->
                <!--<i class="fa fa-cc-paypal fa-2x"></i>-->
                <!--<i class="fa fa-credit-card fa-2x"></i>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

<!-- |||||||||||| page end ||||||||||||| -->
<!-- ||||||||| --> <!-- ||||||||| -->
<!-- |||||||||||| page end ||||||||||||| -->

<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>
