<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head> 
  
<body class="size-1140">

<!-- HIDDEN PRODUCTS MENU START -->
<nav id="main-nav">
	<ul>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Facial Wash</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Exflotiate Scrub</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Natural Skin Care</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Facial Toner</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Moisturizing Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Anti Wrinkle Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Sun Protection</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Hand Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Hair Removing Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Foot Cream</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Under Arm Protection</span></a></li>
		<li><a href="products.html" class="hvr-sweep-to-bottom"><span>Slimming Cream</span></a></li>
	</ul>
	<a href="#0" class="hidden-menu-close">Close<span></span></a>
</nav>
<!-- HIDDEN PRODUCTS MENU END -->

<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
<!-- ||||| --> <div id="page-main-content"> <!-- ||||| -->
<!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->

<!-- HEADER START -->
<header> 
	<!-- top bar start -->
	<div id="topbar" class="background-primary">
		<div class="line">
		    <!-- social icons -->
			<div class="s-12 m-12 l-6">
				<ul>
				  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
				  <li class="hide-s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
			<!-- contact details -->
			<div class="l-6 hide-s hide-m">
				<div class="right">
					<ul class="topbar-menu">
						<li><a href="#">info@website.com</a></li>
						<li><a href="#">+971 123 456 789</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- top bar end -->
	
	<!-- navigation and logo -->
	<nav class="background-dark">
		<div class="line">
		    <!-- logo -->
			<div class="s-12 l-3">
				<div class="fullwidth">
				    <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
				</div>
			</div>
			
			<!-- navigation -->
			<div class="top-nav s-12 m-12 l-9">
				<a class="nav-text"></a>
				<ul class="right chevron">
					<li><a class="index.html">Home</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="contact-us.html">Contact Us</a></li>
					<li><a href="products.html">Products Grid</a></li>
					<li><a href="product.html">Product Page</a></li>
					<li><a href="cart.html">Cart</a></li>
					<li><a href="blog.html">Blog</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
</header>
<!-- HEADER END -->

<!-- PRODUCT DETAIL START -->
<div class="section"> 
	<div class="line">
		<div class="margin">
			<!-- product image -->
			<div class="s-12 m-4 l-5 margin-bottom">
			<img src="img/products/large.png" alt="">
			</div>
			<!-- product detail -->
			<div class="s-12 m-8 l-7 padding-l-left">
				<h2 class="text-primary">Lorem Ipsum Dolor Amet</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie urna in massa consequat, sit amet malesuada sapien consectetur. Praesent ut consectetur felis, in dapibus metus nullaml aoreet.
				</p>
				<ul class="speciality margin-bottom">
						<li>Lorem ipsum dolor sit amet consectetur</li>
						<li>Ipsum dolor sit amet consectetur</li>
						<li>Lorem ipsum dolor amet consectetur</li>
					</ul>
				<div class="fullwidth margin-bottom-40">
					<div class="numbers-row">
						<label>Quantity:</label>
						<input type="number" name="quanity" class="quantity" id="french-hens" value="1">
					</div>
				</div>
				<div class="s-12 m-6 l-4">
					<a href="" class="button">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PRODUCT DETAIL END -->




<!-- PRODUCT TAB START -->
<div class="section padding-top-0">
	<div class="line">
		<div class="fullwidth">
			<div class="tabs left">
				<div class="tab-item tab-active">
					<a class="tab-label active-btn">Description</a>
					<div class="tab-content padding-left-10">
						<h3>Description</h3>
						<p>Lorem ipsum dolor mollis hendrerit ante, sit amet sollicitudin urna varius in. Vestibulum mattis, lectus in dictum pretium, lacus ex consequat metus, id porttitor felis magna eu justo. Suspendisse dolor lacus, posuere venenatis nunc quis, ornare venenatis est. Suspendisse laoreet erat sit amet sodales semper. Mauris cursus lorem turpis, eget accumsan erat consequat molestie. Donec id nibh accumsan, egestas nulla sed, iaculis mauris.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum scelerisque dolor sit amet porta. Nam est elit, dignissim et suscipit semper, viverra at velit. Fusce suscipit arcu non velit suscipit posuere. Ut mollis hendrerit ante, sit amet sollicitudin urna varius in. Vestibulum mattis, lectus in dictum pretium.</p>
					</div>  
				</div>
				<div class="tab-item">
					<a class="tab-label">Speciality</a>        
					<div class="tab-content padding-left-10">
						<h3>Speciality</h3>
						<p class="margin-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						<ul class="speciality padding padding-top-0">
							<li>Lorem ipsum dolor sit amet consectetur</li>
							<li>Ipsum dolor sit amet consectetur</li>
							<li>Lorem ipsum dolor amet consectetur</li>
						</ul>
					</div>  
				</div>
				<div class="tab-item">
					<a class="tab-label">Shipping Charges</a>
					<div class="tab-content padding-left-10">
						<h3>Shipping Charges</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>  
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PRODUCT TAB END -->




<!-- RELATED PRODUCTS START -->
<div class="section padding-top-0">
	<div class="line">
		<div class="margin">
			<div class="fullwidth margin-bottom-20">
				<h2 class="text-center">Related Products</h2>
				<hr class="break-small break-center">
			</div>
			
			<!-- product 1 -->
			<div class="s-12 m-4 l-3 margin-bottom-30">
				<div class="margin">
					<div class="fullwidth">
						<figure class="imghvr-reveal-down">
							<img src="img/products/1.png">
							<figcaption>
								<div class="product-hover-content">
									<div class="btn-box">
										<a href="" class="btn">Buy Now</a>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="fullwidth">
						<h5>Lorem Ipsum Elit Dolor</h5>
						<p class="text-center"><span class="strike">$149.00</span> &nbsp;&nbsp; <span class="text-primary">$130.00</span></p>
					</div>
				</div>
			</div>
			
			<!-- product 2 -->
			<div class="s-12 m-4 l-3 margin-bottom-30">
				<div class="margin">
					<div class="fullwidth">
						<figure class="imghvr-reveal-down">
							<img src="img/products/2.png">
							<figcaption>
								<div class="product-hover-content">
									<div class="btn-box">
										<a href="" class="btn">Buy Now</a>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="fullwidth">
						<h5>Lorem Ipsum Elit Dolor</h5>
						<p class="text-center"><span class="strike">$149.00</span> &nbsp;&nbsp; <span class="text-primary">$130.00</span></p>
					</div>
				</div>
			</div>
			
			<!-- product 3 -->
			<div class="s-12 m-4 l-3 margin-bottom-30">
				<div class="margin">
					<div class="fullwidth">
						<figure class="imghvr-reveal-down">
							<img src="img/products/3.png">
							<figcaption>
								<div class="product-hover-content">
									<div class="btn-box">
										<a href="" class="btn">Buy Now</a>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="fullwidth">
						<h5>Lorem Ipsum Elit Dolor</h5>
						<p class="text-center"><span class="strike">$149.00</span> &nbsp;&nbsp; <span class="text-primary">$130.00</span></p>
					</div>
				</div>
			</div>
			
			<!-- product 4 -->
			<div class="s-12 m-4 l-3 margin-bottom-30">
				<div class="margin">
					<div class="fullwidth">
						<figure class="imghvr-reveal-down">
							<img src="img/products/4.png">
							<figcaption>
								<div class="product-hover-content">
									<div class="btn-box">
										<a href="" class="btn">Buy Now</a>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="fullwidth">
						<h5>Lorem Ipsum Elit Dolor</h5>
						<p class="text-center"><span class="strike">$149.00</span> &nbsp;&nbsp; <span class="text-primary">$130.00</span></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- RELATED PRODUCTS END -->

<!-- FOOTER START -->
<footer>
	<div class="section background-dark">
		<!-- email and phone numbers -->
		<div class="line">
			<div class="margin">
				<div class="fullwidth text-center margin-bottom-40">
					<h5>Hello@website.com</h5>
				</div>
				<div class="fullwidth phone-number margin-bottom-60">
				<div class="s-12 m-6 l-6 margin-s-bottom-60">
						<span>Call Us</span><br />
						<a href="">+971 123-456-789</a>
				</div>
				<div class="s-12 m-6 l-6">
						<span>Whatsapp</span><br />
						<a href="">+971 123-456-789</a>
				</div>
				</div>
			</div>
		</div>
		<!-- contact form -->
		<div class="line">
			<form class="footer-form">
				<div class="fullwidth">
					<div class="margin">
						<div class="s-12 m-6 l-6">
							<input type="text" name="name" placeholder="Full Name" title="Full Name" required />
						</div>
						<div class="s-12 m-6 l-6">
							<input type="text" name="email" placeholder="Email" title="Email" required />
						</div>
					</div>
					<div class="margin">
						<div class="s-12 m-6 l-6">
							<input type="text" name="mobile" placeholder="Mobile" title="Mobile Number" required />
						</div>
						<div class="s-12 m-6 l-6">
							<input type="text" name="subject" placeholder="Subject" title="Subject" />
						</div>
					</div>
					<div class="s-12">
						<textarea name="message" placeholder="Your message" rows="2" required></textarea>
					</div>
					<div class="s-12 m-12 l-3">
						<input type="submit" class="button" value="Send to Us">
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- footer bottom bar -->
	<div class="copyright">
	    <div class="line">
			<div class="margin">
				<!-- left -->
				<div class="s-12 m-12 l-8 footer-links">
					<ul class="footer-bar-links">
						<li><a href="">Contact Us</a></li>
						<li><a href="">Faqs</a></li>
						<li><a href="">Shipping</a></li>
						<li><a href="">Return Policy</a></li>
						<li><a href="">Order Tracking</a></li>
					</ul>
					<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
				<!-- right -->
				<div class="s-12 m-12 l-4 payment-methods">
					<i class="fa fa-cc-visa fa-2x"></i>
					<i class="fa fa-cc-mastercard fa-2x"></i> 
					<i class="fa fa-cc-paypal fa-2x"></i>
					<i class="fa fa-credit-card fa-2x"></i>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- FOOTER END -->

<!-- |||||||||||| page end ||||||||||||| -->
<!-- ||||||||| --> </div> <!-- ||||||||| -->
<!-- |||||||||||| page end ||||||||||||| -->

<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
   
   
   
   
</body>
</html>
